@page
@model IndexModel
@inject Webb_Shop_Weapons.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<img src="/Pictures/Images/scumborder.png" class="banner">


<div class="products">


@foreach (var weapon in Model.Weapons)
{
    <div class="productcard">
        <h2><a href="/WeaponInfo?id=@weapon.ProductId">@weapon.Name</a></h2>
        <h3>@weapon.Category</h3>
        <p>@weapon.Price</p>
        <img src="/Pictures/Vapen/Rifle/@weapon.Image" class="weaponpic"/>
        <button class ="cartbtn"><i class="fa-solid fa-cart-shopping fa-lg"></i></button>
    </div>
}
</div>
<form asp-page="" method="get" class="btnform">
    <button type="submit" class="btn" name="pageID" value="@(Model.CurrentPage - 1)" @if (!Model.HasPreviousPage)
    {
        <text>disabled</text>
    }>Prev</button>
    <button type="submit" class="btn" name="pageID" value="@(Model.CurrentPage + 1)" @if (!Model.HasNextPage)
    {
        <text>disabled</text>
    }>Next</button>

</form>
