@page
@model IndexModel
@inject Webb_Shop_Weapons.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<img src="/Pictures/Images/scumborder.png" class="banner">


<div class="products">

@foreach (var weapon in Model.Weapons)
{
    <div class="productcard">
        <h2>@weapon.Name</h2>
        <h3>@weapon.Category</h3>
        <p>@weapon.Price$</p>
        <img src="/Pictures/Vapen/Rifle/@weapon.Image" class="weaponpic"/>
        <h1><button>Add to Cart</button></h1>
    </div>
}

    <form asp-page="" method="get">
        <button type="submit" name="pageID" value="@(Model.CurrentPage - 1)" @if (!Model.HasPreviousPage)
        {
            <text>disabled</text>
        }>Prev</button>
        <button type="submit" name="pageID" value="@(Model.CurrentPage + 1)" @if (!Model.HasNextPage)
        {
            <text>disabled</text>
        }>Next</button>
        
    </form>
</div>
