@page
@model IndexModel
@inject Webb_Shop_Weapons.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<img src="/Pictures/Images/scumborder.png" class="banner">


<div class="products">

@foreach (var weapon in Model.weapons)
{
    <div class="productcard">
        <h2>@weapon.WeaponName</h2>
        <h3>@weapon.WeaponType</h3>
        <p>@weapon.WeaponPrice$</p>
        <img src="/Pictures/Vapen/Rifle/@weapon.WeaponImage" class="weaponpic"/>
        <h1><button>Add to Cart</button></h1>
    </div>
}

<form method="post">
    <button  type="submit" name="prev" disabled="@(!Model.prevPage)">Prev</button>
    <button type="submit" name="next" disabled="@(!Model.nextPage)" asp-page-handler="next">Next</button> //Det ska gå att göra såhär som vi gör. men med asp-page-handler skit eller nåt.
                                                                                                            Har gjort nu så det inte crashar när man trycker på next.
    <input type="hidden" name="page" value="@(Model.currentPage)" />
</form>
</div>
