@page
@inject Webb_Shop_Weapons.Data.AccessControl accessControl
@model Webb_Shop_Weapons.Pages.ShoppingCartModel
@{
}
@{
    ViewData["Title"] = "Shopping Cart";
}

<head>
    <link rel="stylesheet" href="~/css/cart.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<img src="/Pictures/Images/scumborder.png" class="banner">

@{
    decimal totalPrice = 0;
    foreach(var i in Model.shoppingCart.Items)
    {
        totalPrice += i.Product.Price * i.Quantity;
    }
}
<div class="WeaponCard">
    @if (Model.shoppingCart != null && Model.shoppingCart.Items.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.shoppingCart.Items)
                {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td>
                            <form method="post">
                                <input type="hidden" name="productId" value="@item.Product.ProductId" />
                                <input type="number" name="quantity" value="@item.Quantity" min="1" class="quantity"/>
                                <!--Använder formaction här, då hittar den OnPost, med handler=UpdateQuantity som går att hitta i cs filen-->
                                <!--kan testa med form-page-handler med-->
                                <button type="submit" formaction="ShoppingCart?handler=UpdateQuantity" class="shopbtn">Update</button>
                            </form>
                        </td>
                        <td>$@item.Product.Price</td>
                        <td>$@(item.Product.Price * item.Quantity)</td>
                        <td>
                            <form method="post">
                                <input type="hidden" name="productId" value="@item.Product.ProductId"/>
                                <!--Samma här fast med DeleteItem-->
                                <button type="submit" formaction="ShoppingCart?handler=DeleteItem" class="shopbtn">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <h4 class="total">@totalPrice</h4>
        <form method="post">
            <button type="submit" formaction="ShoppingCart?handler=DeleteAll" class="dltbtn">Delete All</button>
        </form>
    }
    else
    {
        <p>Your shopping cart is empty.</p>
    }
</div>
