@page
@inject Webb_Shop_Weapons.Data.AccessControl accessControl
@model Webb_Shop_Weapons.Pages.WeaponInfoModel
@{
    ViewData["Title"] = "Weapon Info";
}

<head>
    <link rel="stylesheet" href="~/css/weaponinfo.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<img src="/Pictures/Images/scumborder.png" class="banner">


<div class="WeaponCard">
        <h2>@Model.Weapon.Name</h2>

        <h3>@Model.Weapon.Category.Name</h3>
        @if(Model.Weapon.AmmoId != null){
        <h3>@Model.Weapon.Ammo.Name</h3>
        }
        <p>@Model.Weapon.Price</p>
        <img src="/Pictures/Vapen/Rifle/@Model.Weapon.Image" class="weaponpic" />
    <form method="post" asp-page-handler="AddToCart">
        <input type="number" name="quantity" class="quantity" value="1" />
        <input type="hidden" name="weaponID" value="@Model.Weapon.ProductId" />
        <button type="submit" class="addtocartbtn">Add to cart</button>
    </form>
        <h4>@Model.Weapon.Description</h4>
</div>
@if(Model.Weapon.AmmoId != null){
<div class="AmmoCard">
      <h2>Fitting Ammo</h2>
      <h3>@Model.Weapon.Ammo.Name</h3>
      <h4>@Model.Weapon.Ammo.Description</h4>
      <p>@Model.Weapon.Ammo.Price</p>
      <img src="/Pictures/Ammo/@Model.Ammo.Image" class="ammopic"/>
      <form method="post" asp-page-handler="AddToCart" class="AddToCart">
                <input type="number" name="Quantity" class="quantity" value="1" />
                <input type="hidden" name="WeaponID" value="@Model.Ammo.ProductId" />
                <button type="submit" class="addtocartbtn">Add to cart</button>
            </form>
</div>
}